@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.card {
    background-color: #f3f3f3;
    padding: 20px;
    border-radius: 20px;
    cursor: pointer;
}

.card:hover {
   background-color: #ded2ff;
}

.card img {
    height: 100px;
    object-fit: cover;
    object-position: top;
}

.card h3{
    font-family: "Bebas Neue", sans-serif;
    font-size: 20px;
}


.flex {
    display: flex;
    flex-wrap: wrap;
}

.space-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}


.prix{
    padding: 15px 10px;
    width: fit-content;
}

.w-100 {
    width: 100%;
}

.w80 {
    width: 80%;
}

.w70 {
    width: 70%;
}

.w-48 {
    width: 48%;
}

.w-30 {
    width: 30%;
}

.w-20 {
    width: 24%;
}

.bg-black {
    background-color: black;
}

.white {
    color: white;
}

.padding-10 {
    padding: 10px;
}

.border-radius-5 {
    border-radius: 5px;
}

.mt-10 {
    margin-top: 10px;
}